<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Catalog" value="C:\Users\nikita\source\repos\Object_2\Solution items\Catalog.xml"/>
    <add key="UserList" value="C:\Users\nikita\source\repos\Object_2\Solution items\Users.xml"/>
    <add key="Menu" value="C:\Users\nikita\source\repos\Object_2\Solution items\Menu.xml"/>
  </appSettings>
</configuration>